<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="unit tests" configfailurepolicy="continue" parallel="classes" thread-count="1">
    <test name="unit test">
        <classes>
            <class name="main.ru.student_repository.storage.StudentStorageTest"/>
            <class name="main.ru.student_repository.utils.StudentUtilTest"/>
        </classes>
    </test>
</suite>